#"Reading from env variable if value is not in toml file feature"
#feature is supported for strings, int, bool, time.duration and string slices only
#(every type used in this project)

#to use this feature you have to do the next
#assume that there is an env variable called LOG_LEVEL and you want to assign LOG_LEVEL value to app.log_level
#You will change the value of (log_level= "debug") to (log_level= "$_LOG_LEVEL")

#If you want to add an array as an env variable in your machine, please add backslash before special characters
#like white spaces, double quotes and comas, example:
#export ARRAY= "[\"txt\", \"pdf\", \"dmg\", \"exe\", \"com\", \"rar\", \"unknown\"]"
#Don't forget to put the value between double quotes in case there are white spaces in the value.

#NOTE: before you use this feature please make sure that the env variable that you want to use is globally in
# your machine and not just exported in a local session

####### POLICY
# Please before adding policy JSON file add "\" before special characters and "\n" instead of new lines
#by this tool: https://onlinestringtools.com/escape-string#:~:text=String%20escaper%20tool%20What%20is,single%20quotes%2C%20and%20double%20quotes.
# You shouldn't remove the policy variable from config file
#if you don't want to set a value for policy you should do like that
#policy = ""

title = "ICAP configuration file"

[app]
log_level = "debug" # the log levels for tha app, available values: info-->logging the overall progress of the app, debug --> log everything including errors, error --> log infos and just errors
log_service_url = "http://logging-transaction-logging-api:8080/upload"
write_logs_to_console= false
log_flush_duration = 2
port = 1344
resp_scanner_vendor_shadow = "none"
req_scanner_vendor_shadow = "none"
preview_bytes = "1024" #byte
preview_enabled = true# options send preview header or not
propagate_error = true
service_caption ="Go-ICAP server - glasswall Rebuild service"
services= ["glasswall" , "echo"]
verify_server_cert=false
#I worked on project using Golang which extracts uploaded files and before uploading and downloaded files
# before downloading and send it to api to scan it before uploading/downloading it.

[glasswall]
vendor = "glasswall"
service_caption= "glasswall service"   #Service
service_tag = "Glasswall ICAP"  #ISTAG
req_mode=true # enable support for ICAP request mode
resp_mode=true # enable support for ICAP response mode
shadow_service=false
preview_bytes = "1024" #byte
preview_enabled = true# options send preview header or not
bypass_extensions = []
process_extensions = ["*"] # * = everything except the ones in bypass, unknown = system couldn't find out the type of the file
base_url = "$_CLOUDAPI_URL" #
scan_endpoint = "/api/rebuild/file"
api_key = "$_AUTH_TOKENS"
timeout  = 300 #seconds , ICAP will return 408 - Request timeout
fail_threshold = 2
policy= ""
#max file size value from 1 to 9223372036854775807, and value of zero means unlimited
max_filesize = 0 #bytes
return_original_if_max_file_size_exceeded=false
return_original_if_unprocessable_file_type=true
return_original_if_400_response=true # returning the original file to the user if GW engine http response status is 400


[echo]
vendor = "echo"
service_caption= "echo service"   #Service
service_tag = "ECHO ICAP"  #ISTAG
req_mode=true
resp_mode=true
shadow_service=false
preview_bytes = "1024" #byte
preview_enabled = true# options send preview header or not
bypass_extensions = []
process_extensions = ["*"] # * = everything except the ones in bypass, unknown = system couldn't find out the type of the file
base_url = "echo" #
scan_endpoint = "echo"
api_key = "<api key>"
timeout  = 300 #seconds , ICAP will return 408 - Request timeout
fail_threshold = 2
#max file size value from 1 to 9223372036854775807, and value of zero means unlimited
max_filesize = 0 #bytes
return_original_if_max_file_size_exceeded=false

[clamav]
vendor = "clamav"
service_caption= "clamav service"   #Service
service_tag = "CLAMAV ICAP"  #ISTAG
req_mode=true
resp_mode=true
shadow_service=false
bypass_extensions = []
process_extensions = ["*"] # * = everything except the ones in bypass, unknown = system couldn't find out the type of the file
socket_path = "/var/run/clamav/clamd.ctl"
wait_timeout = 10 #seconds, the time upto which the server will wait for clamav to scan the results
bad_file_status = ["malicious"]
ok_file_status = ["ok"]
#max file size value from 1 to 9223372036854775807, and value of zero means unlimited
max_filesize = 0 #bytes
return_original_if_max_file_size_exceeded=false

#ICAP possible codes: 204 (No modifications needed) , 400 (Bad Request) , 403 (Forbidden) , 500 (Server Error) , 502 (Bad Gateway)
api_response_400 = 400 #Bad Request
api_response_403 = 403 #Forbidden
api_response_415 = 204 #Unsupported Media Type
api_response_422 = 204 #Unprocessable Entity
