name: codecov
on: [push]
jobs:
  codecov:
    name: codecov
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi

      - name: TestCov
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...          

      - name: Upload coverage report
        uses: codecov/codecov-action@v1.2.2
        with:
          file: ./coverage.txt
          flags: unittests
          name: codecov-umbrella
